---
---

@import "{{ site.theme }}";

// Mixin itself
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.clearfix {
  @include clearfix;
}

.ac-page-header {
  // background-image: url(../img/header.png);
  // height: 350px;
  // background-position: center;
  // background-repeat: no-repeat;
  background-color: #222;
  text-align: center;
  font-size: 0;
}

.ac-nav-icon {
  float: left;
  height: 22px;
}

@media screen and (min-width: 64em) {
  .ac-nav-icon {
    height: 26px;
  }
}

.btn.ac-btn-small {
  padding: 0.5rem;
}

.ac-nav-wrapper {
  position: sticky;
  top: 0;
  background-color: #333;
  box-shadow: 0 -1px 0 0 #333; // flicker bug
  .ac-nav-content {
    padding-top: 0;
    padding-bottom: 0;
    @include clearfix;
    .ac-btn-nav {
      text-decoration: none;
      float: left;
      color: #fff;
      padding: 1rem;
      display: block;
      background-color: #333;
      border-top: 0;
      border-bottom: 0;
      border-right: 0;
      margin: 0;
      border-radius: 0;
    }
    a:hover {
      background-color: #222;
    }
    .ac-btn-small {
      margin-top: 0.4rem;
    }
    .ac-btn-nav-right {
      float:right;
      margin-left: 0;
      margin-right: 10px;
    }
    .btn {
      width: auto !important;
      margin-bottom: 0;
    }
    .btn + .btn {
      // margin-left: 10px;
    }
  }
}

@media screen and (max-width: 42em) {
  .ac-nav-wrapper .ac-nav-content {
    padding: 0;
  }
  .ac-nav-wrapper .ac-nav-content .ac-btn-nav {
    padding: 1rem 0.5rem;
  }
}

.ac-trs-shadow-border-scale {
  transition: box-shadow .15s;
  border: 4px solid white;
  margin-bottom: 20px;
  &:hover {
    transition: box-shadow .15s;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,.3);
    border: 2px solid white;
    margin-bottom: 18px;
  }
}

.ac-theme-item {
  @extend .ac-trs-shadow-border-scale;
  float: left;
  width: 156px;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 0;
  border-radius: 8px;
}

@media screen and (max-width: 42em) {
  .ac-theme-item {
    width: 164px;
  }
}

.ac-theme-item.ac-theme-round {
  width: 156px !important;
  height: 156px !important;
  border-radius: 500px;
  overflow: hidden;
  a {
    position: relative;
    top: -37px;
  }
}

/*********************/
/** details element **/
details {
  border-radius: 6px;
  margin-bottom: 10px;
}
details[open] {
  background-color: #fdfdfd;
  box-shadow: inset 0 0 0 2px #f9f9f9;
}
details:not([open]) summary:hover {
  transition: box-shadow .15s;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,.3);
}
details summary {
  transition: box-shadow .15s;
  display: list-item;
  background-color: #2e9b49;
  padding: 8px 10px;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  outline: none;
}
details[open] summary {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
details article {
  padding: 20px;
}
/** details element **/
/*********************/

.flex-row {
  display: flex;
  flex-direction: row;
  & > *:not(:first-child) {
    padding-left: 10px;
  }
}

.text-info {
  color: #31708f;
}

.info-component {
  @extend .text-info;
  position: relative;
  padding-left: 30px;
  &:before {
    position: absolute;
    left: 0;
    content: "ℹ️";
  }
}

:not(li) > ul > li {
  margin-bottom: 12px;
}
